.env
node_modules/

backend/ai-knowledge/
backend/backup/
backend/src/scripts/indexKnowledge
backend/src/scripts/testChunks
backend/src/scripts/testEmbedding
backend/src/scripts/testSearchKnowledge
backend/src/utils/chunkMarkdown
backend/src/utils/embedding
backend/src/utils/searchKnowledge